*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  }
  .spinner{
    width: 80px;
    height: 80px;
    border: 8px solid #fff;
    border-top: 9px solid #1a6070;
    border-radius: 100%;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
    animation: spin 1s infinite linear;
}
@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}
#overlay{
  height:100%;
  width:100%;
  background:rgba(0, 0, 0, 1);
  position:fixed;
  left:0;
  top:0;
  z-index: 122;
 }
  .header{
    min-height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(28, 109, 85, 0.13),rgba(55, 190, 274, 0.1)),url(/ImgGallery/HeaderBG.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
  }
  nav{
    display: flex; 
    flex-flow: nowrap;
    padding: 1.5% 5%;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    position: relative;
  }
  .hamburger{
   display: none;
  }
  .times{
    display: none;
  }
  .backdrop2{
    display: none;
    }
  .backdrop2--active{
    display: block;
  }
  .sidebar2{
    flex: 1;
    text-align: right;
    display: inline-block;
    padding: 8px 2px;
    position: relative;
  }
  
  .sidebar_profile{
    padding: 1rem 1.5rem;
    display: flex;
    border-bottom: 2px solid rgba(2,2,2,0.1);
    align-items: center;
  }

nav img{
    width: 180px;
    padding-top: 15px;
    padding-left: 15px;
}
.sidebar_list{
  list-style: none;
  text-decoration: none;
}
.sidebar_item{
  padding: 1rem .7rem;
  display: inline-block;
}
.sidebar_item a{
  color: #fff;
  border: 1px solid white;
  padding: 6px 9px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.sidebar_item a:hover{
  background: #154B49;
  border: none;
  transition: 1s;
} 

 
  .hero-btn-3 img{
      width: 300px;
      margin-top: 35px;
  }

  .hero-btn:hover{
    border: 1px solid #154B49;
    background: #154B49;
    transition: 1s;
  }
  nav .fa{
    display: none;
  }
  .hero-btn-3{
    margin-top: -30px;
  }
  .hero-btn-3 a{
    color: #fff;
    font-size: 26px;
    margin-right: 10px;
  }
  @media(max-width: 752px){
    nav{
      color: #fff;
      font-size: 1.6rem;
      padding: 0.5rem 1rem;
      display: flex;
      align-items: center;   
    }
    .hamburger{
      display: block;
      transform: translateY(3px);
      margin-right: 3rem;
        font-size: 2.4rem;
      cursor: pointer;
    }
    .times{
      display: flex;
      margin: 1rem;
      cursor: pointer;
    }
    .backdrop2{
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.4);
      display: none;
      z-index: 2;
    }
    .backdrop2--active{
      display: block;
    }
    .sidebar2{
      position: fixed;
      background-image: linear-gradient(rgba(30, 141, 75, 0.4),rgba(55, 190, 274, 0.8)),url(/ImgGallery/navbar2.jpg);
      /* Photo by Rovshan Allahverdiyev on Unspla */
      background-position: center;
      top: 0;
      right: 0;
      width: 70%;
      max-width: 18rem;
      height: 100%;
      transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      box-shadow: 0 0 4px rgba(0,0,0.2);
      background-color: #245854; 
      /* transfrom from right */
      transform: translateX(100%);
      z-index: 3;
      
    }
    .sidebar2--active{
      /* transfrom from right */
      transform: translateX(0%);
    } 
    .sidebar_list{
      list-style: none;
    }
    .sidebar_item{
      padding: 1rem 1.5rem;
      font-size: 1rem;
      display: block;
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
    }
    .sidebar_item a{
      color: #fff;
      text-decoration: none;
      display: flex;
      align-items: center;
      }
      .row {
        flex-direction: column;
      }
    }
  @media(max-width: 700px){
    .textbox h1{
      font-size: 50px;
    }
    .hero-btn {
      color: #fff;
      font-size: 16px;
      margin: 10px;
    }
    .header{
      min-height: 70vh;
    }
    .cta h1 {
      font-size: 24px; 
    }
    .textbox{
      margin-top: 150px;
      position: relative;
    }
    nav img{
      width: 160px;
      padding-top: 15px;
    }
    .hero-btn-3 img{
        width: 200px;
    }
  }

  @media(max-width: 380px){
    .textbox h1{
      font-size: 45px;
    }
    .nav-links ul li{
      display: block;
      margin-top: 20px;
    }
    .nav-links{
      position: fixed;
      height: 100vh;
      width: 250px; 
    }
    .hamburger{
        margin-right: 1.5rem;
        font-size: 1.7rem;
    }
    
  }
  h1{
    font-size: 36px;
    color: #fff;
  }
  .paths2 h1{
      position: relative;
      letter-spacing: 4px;
      max-width: 470px;
      margin: auto;
  }

  
  .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
  }
  .row2{
    margin-top: 5%;
    padding: 25px 25px 25px 25px;
  }
  .bio-col{
    flex-basis: 31%; 
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 5px 15px 10px 15px;
    box-sizing: border-box;
    transform: 1s;
  }
  h3{
    text-align: center;
    margin: 10px 0;
  }
  .row2 p{
    color: rgba(2,0,36,1);
    font-size: 18px;
    margin-top: 2px;
    font-weight: 300;
    line-height: 22px;
    padding:  30px 50px 10px 50px; 
  }
  
  .bio-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
  }
 
  .paths2{
    margin: 20px;
    background-image: url(ImgGallery/backg.jpg);
    background-attachment: absolute;
    background-size: cover;
    /* <a href="https://www.freepik.com/vectors/flat-design">Flat design vector created by pikisuperstar - www.freepik.com</a> */

   }
  .paths{
    width: 93%;
    margin: auto;
    text-align: center; 
    padding: 15px; 
  }
  .paths-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 50px;
    position: relative; 
    overflow: hidden;
  }
  .paths-col img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
  .layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .layer:hover{
    background: rgba(42, 121, 88, 0.7);
  }

  .layer h3{
    width: 80%;
    
    color: #fff;
    font-size: 30px;
    bottom: 0; 
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 59%;
    transition: .5s;
    }
  .layer:hover h3{
     opacity: 1;
  }
  @media (max-width: 700px){
      .bio{
        margin: 0;
        border-radius: 0px;
      }
      .paths2{
        margin:0;
        margin-top: 10px;
        margin-bottom: 20px;
        border-radius: 0px;
      }
      .layer h3{
        font-size: 44px;
      }
  }



.cta{
  margin: 50px auto; 
  width: 80%;
  background-image: linear-gradient(rgba(16, 76, 80, 0.1), rgba(17, 41, 39, 0.2)),url(ImgGallery/cta2.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}
.cta h1{
  color: #fff;
  margin-bottom: 10px;
  padding: 0; 
}
@media (max-width: 750px){
  .cta img{
    width: 300px;
  }
}
@media (max-width: 400px){
  .cta img{
    width: 290px;
  }
}

.footer{
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #154b49;
}

.footer p{
  padding-top: 2px;
  padding-bottom: 25px;
  color: #fff;
  font-size: 18px;
  margin: 0;
}

.icons .fa{
  color: #2d8a8a;
  margin: 1px 13px;
  cursor: pointer;
  padding: 20px 0;
}

@media(max-width: 700px){
  .paths2 h1 {
    max-width: 280px;
    font-size: 36px;
    margin-top: -3px;
  }
  .paths2 p {
    font-size: 18px;
  }
  .bio2 h1 {
    max-width: 300px;
    font-size: 24px;
    margin-bottom: -11px;
  }
  .row2 p{
    padding:  30px 7px 10px 7px; 
  }
  .footer p{
    color: #fff;
    font-size: 16px;
    margin: 0;
  }
}
/* Gallery !*/
.headline img{
  width: 30%;
  max-width: 300px;
}
.gallery{
  background: linear-gradient(153deg, rgba(62, 152, 254, 0.59) 0%,
    rgba(25, 255, 16 , 0.12) 100%);
    min-height: 100vh;
}
.grid-container {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-gap: 1rem;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    place-items: center;
    width: 100%;
}
.grid-container img{
    width: 600px;
}
.container-items p{
  font-size: 20px;
  color: #556A75;
  text-align: center;
  
}
.year p{
  font-size: 12px;
  color: #6E8A99;
  text-align: center;
  padding-top: 5px 0;
  margin: 7px;
}
.lightbox-enabled {
    width: 100%;
    object-fit: cover;
    transition: all 250ms ease-in-out;
}
.lightbox-enabled:hover {
    opacity: .8;
    cursor: pointer;
    transform: scale(1.01);
}
.headline{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
}

@media(max-width: 580px){
  .gallery{
    justify-content: center;
    align-content: center;
  place-items: right;
  align-items: right;
  }
  .container-items p{
    font-size: 16px;
  }
  .year p{
    font-size: 12px;
    color: #fff;
    text-align: center;
    padding-top: 5px 0;
    margin: 2px;
  }
  .grid-container img{
    width: 300px;
  }
}

/*--- Subheader!! ---*/
.sub-header{
  
  height: 45vh;
  min-height: 220px;
  max-height: 220px;
  width: 100%;
  background-image: linear-gradient(rgba(36, 130, 156, 0.2),rgba(50, 199, 142, 0.4)),url(/ImgGallery/head3.jpg);
  background-position: 20% 45%;
  background-size: cover;
  
  text-align: center;
  color: #fff;
}

.sub-header h1{
  position: absolute;
  margin-top: 30px;
  font-size: 82px;
  color: #fff;
}
/*--- !Consultations! ---*/
.slideshow{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.slideshow-item{
  width: 100%;
  height: 100vh;
  position: absolute;
}
.slideshow-item img{
  width: 110%;
  height: 110%;
  object-fit: cover;
}
.slideshow-item-text {
  max-width: 50%;
  
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%); 
  background-color: rgba(36, 130, 156, 0.5);
  color: #fff;
  padding: 10rem 5rem;
}
.slideshow-item-text h4{
  font-size: 1.9rem;
}
.slideshow-item-text h5{
  font-size: 3.5rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.slideshow-item-text p{
  font-size: 1 rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
}
@media(max-width: 1000px){
  .slideshow-item-text {

    max-width: 70%;
    padding: 5rem 1rem; 
  }
  .slideshow-item-text h5{
    
    font-size: 4rem;
  }
}
@media(max-width: 767px){
  .slideshow-item-text {
    max-width: 100%;
    padding: 2rem; 
    top: initial;
    bottom: 0;
    transform: initial;
  }
  .slideshow-item-text h5{
    
    font-size: 3rem;
  }
  .slideshow-item-text p{
    font-size: .85rem;
  }
}
/*--- textbox! ---*/
.section-txt{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.container-txt{
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; 
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-txt {
  width: 60%;
  height: 600px;
  background-image: url(/ImgGallery/port.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
}
.right-txt {
  width: 50%;
  min-height: 400px;
  background-color: #2f3d3c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  color: #fff; 
  margin-left: -150px;
}
.right-txt h5{
  font-size: 30px;
  font-weight: lighter;
}
.right-txt p{
  margin: 20px 0;
  font-weight: 500;
  line-height: 25px;
  color: #fff;
}
.right-txt a{
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  color: black;
  padding: 20px 30px;
  display: inline-block;
  letter-spacing: 2px;

}
.content-txt p{
 color:#E3E6E6;
}
@media(max-width: 768px){
  .container-txt{
    flex-direction: column;
    width: 100%;
    margin: 0 10px;
    margin-top: 200px;
    margin-bottom: 30px;
  }
  .left-txt{
    width: 100%;
    height: 400px;
  }
  .right-txt{
    width: 80%;
    margin: 0;
    margin-top: -100px;
  }
}
/*--- textbox2! ---*/
.section-txt2{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.container-txt2{
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; 
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-txt2 {
  width: 60%;
  height: 600px;
  background-image: url(/ImgGallery/flower.jpg);
   /* Photo by D.y. Creation on Unsplash */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  
}
.right-txt2 {
  width: 50%;
  min-height: 400px;
  background-color: #2f3d3c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  color: #fff; 
  margin-right: -150px;
  z-index: 24;
}
.right-txt2 h5{
  font-size: 40px;
  font-weight: lighter;
}
.right-txt2 p{
  margin: 20px 0;
  font-weight: 500;
  line-height: 25px;
}
.right-txt2 a{
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  color: black;
  padding: 20px 30px;
  display: inline-block;
  letter-spacing: 2px;

}
.content-txt2 p{
 color:#E3E6E6;
}
@media(max-width: 768px){
  .container-txt2{
    flex-direction: column;
    width: 100%;
    margin: 0 10px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .left-txt2{
    width: 100%;
    height: 400px;
    margin-top: -850px;
  }
  .right-txt2{
    width: 80%;
    margin: 0;
  }
  .content-txt2 h5{
    font-size: 1.5rem;
  }
}
/*--- textbox3! ---*/
.section-txt3{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.container-txt3{
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; 
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-txt3 {
  width: 60%;
  height: 600px;
  background-image: url(/ImgGallery/tradi.jpg);
  /*Photo by VD Photography on Unsplash*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  
}
.right-txt3 {
  width: 50%;
  min-height: 400px;
  background-color: #2f3d3c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  color: #fff; 
  margin-right: -150px;
  z-index: 24;
}
.right-txt3 h5{
  font-size: 40px;
  font-weight: lighter;
}
.right-txt3 p{
  margin: 20px 0;
  font-weight: 500;
  line-height: 25px;
}
.right-txt3 a{
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  color: black;
  padding: 20px 30px;
  display: inline-block;
  letter-spacing: 2px;

}
.content-txt3 p{
 color:#E3E6E6;
}
@media(max-width: 768px){
  .container-txt3{
    flex-direction: column;
    width: 100%;
    margin: 0 10px;
    margin-top: 302px;
    margin-bottom: 490px;
  }
  .left-txt3{
    width: 100%;
    height: 400px;
    margin-top: -450px;
    
  }
  .right-txt3{
    width: 80%;
    margin: 0;
    margin-bottom: -450px;
  }
  .content-txt3 h5{
    font-size: 1.5rem;
  }
}

/*--- contact! ---*/
.contact{
  width: 100%;
  height: 40vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact img{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width:500px){
  .contact img{
    width: 370px;
  }
}


/*--- Blogggggg! ---*/

:root{
  --orange:#e67e22;
  --black:#333;
  --light-color:#777;
  --border:.1rem solid rgba(0,0,0,.2);
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

.banner{
  min-height: 80vh;
  background:url(ImgGallery/star2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  place-items: center;
  padding-top: 8rem;
}

.banner .content{
  text-align: center;
  
  border-radius: .5rem;
 
  padding:3rem;
  max-width: 50rem;
}

.banner .content h3{
  font-size: 4rem;
  color: #fff;
  text-transform: uppercase;
}

.banner .content p{
  font-size: 1.6rem;
  color:var(--light-color);
  padding:1rem 0;
  line-height: 1.5;
}

.container{
  padding:2rem 7%;
  display: grid;
  grid-template-columns: 1fr;
  gap:1.5rem;
}

.container .posts-container .post{
  width:100%;
  padding:2rem;
  background:#fff;
  border:var(--border);
  border-radius: .5rem;
  margin-bottom: 1.5rem;
}
.container .posts-container .post .imagebox{
  display: block;
  /* center the image */
  text-align: center;
}


.container .posts-container .post .image{
  height: 30rem;
  width: 100%;
  max-width: 700px;
  border-radius: .5rem;
  object-fit: cover;
}

.container .posts-container .post .date{
  padding-top: 2rem;
  font-size: 0.9rem;
  color:var(--orange);
}

.container .posts-container .post .title{
  padding-top: 1.5rem;
  font-size: 2.5rem;
  color:var(--black);
}

.container .posts-container .post .text{
  color:var(--light-color);
  font-size: 1.0rem;
  line-height: 1.7;
  padding:1rem 0;
}




/* media queries  */

@media (max-width:991px){
  .container{
    padding:2rem;  
  }
}

@media (max-width:768px){
  .banner .content h3{
    font-size: 2rem;
  }
  .container .posts-container .post .title{
    padding-top: 1.5rem;
    font-size: 1.3rem;
    color:var(--black);
  }

  .banner .content p{
    font-size: 1.2rem;
  }

  .container{
      grid-template-columns: 1fr;
      gap:0;
  }

  .container .posts-container .post .image{
    height: 12rem;
  }
}


.box{
  width: 970px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-bottom: 77px;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.box h1{
  font-size: 40px;
  margin: 10px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 20px;
  margin: 23px;
  margin-right: 0;
  margin-left: 0;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  text-align: center;
  text-align: justify;
  margin: 20px;
  padding-bottom: 20px;
}
.box li a:hover{
  color: #b9b9b9;
}
@media (max-width:900px){
  .box{
    width: 380px;
    }
  }

@media (max-width:400px){
 .box h1{
   font-size: 25px;
 }
 .box h5{
  font-size: 15px;
  margin: 23px;
}
  .box{
    width: 300px;
    }
  .box p{
      margin: -10px;
      
      text-align: left;
    }
  }
 


.box2{
  width: 970px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
.box2-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
}
.box2 h1{
  font-size: 40px;
  margin: 20px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box2 h5{
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 110px;
  margin-left: 110px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box2 p{
  text-align: center;
  text-align: justify;
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 1px;
  padding-bottom: 20px;
}
.box2 li a:hover{
  color: #b9b9b9;
}
@media (max-width:900px){
  .box2{
    width: 350px;
    }
   
  .box2 h5{
      font-size: 15px;
      margin-right: 1px;
      margin-left: 1px;
    }
  }

@media (max-width:400px){
 .box2 h1{
   font-size: 30px;
 }
 
  .box2{
    width: 350px;
    }
  .box2 p{
      margin: -10px;
      
      text-align: left;
    }
  }
 