*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  }
  .spinner{
    width: 80px;
    height: 80px;
    border: 8px solid #fff;
    border-top: 9px solid #1a6070;
    border-radius: 100%;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
    animation: spin 1s infinite linear;
}
@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}
#overlay{
  height:100%;
  width:100%;
  background:rgba(0, 0, 0, 1);
  position:fixed;
  left:0;
  top:0;
  z-index: 122;
 }
  .header{
    min-height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(28, 109, 85, 0.213),rgba(55, 190, 274, 0.85)),url(/ImgGallery/HeaderBG.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
  }
  nav{
    display: flex; 
    flex-flow: nowrap;
    padding: 3% 5%;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    position: relative;
  }
  .hamburger{
   display: none;
  }
  .times{
    display: none;
  }
  .backdrop2{
    display: none;
    }
  .backdrop2--active{
    display: block;
  }
  .sidebar2{
    flex: 1;
    text-align: right;
    display: inline-block;
    padding: 8px 2px;
    position: relative;
  }
  
  .sidebar_profile{
    padding: 1rem 1.5rem;
    display: flex;
    border-bottom: 2px solid rgba(2,2,2,0.1);
    align-items: center;
  }

nav img{
    width: 160px;
    padding-top: 15px;
    padding-left: 35px;
}
.sidebar_list{
  list-style: none;
  text-decoration: none;
}
.sidebar_item{
  padding: 1rem .7rem;
  display: inline-block;
}
.sidebar_item a{
  color: #fff;
  border: 1px solid white;
  padding: 6px 9px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.sidebar_item a:hover{
  background: #154B49;
  border: none;
  transition: 1s;
} 

  .textbox{
    width: 80%;
    color: white;
    position: relative;
    margin-top: 180px;
    top: 60%;
    left: 60%;
    transform: translate(-50%,-50%);
    text-align: left;
    background: transparent;
  }
  .textbox h1{
    position: relative;
    font-size: 70px;
    background: transparent;
  }
  .textbox p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
  }
  .hero-btn-3 img{
      width: 300px;
  }

  .hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 19px;
    background: transparent;
    position: relative;
    cursor: pointer;
  }
  .hero-btn:hover{
    border: 1px solid #154B49;
    background: #154B49;
    transition: 1s;
  }
  nav .fa{
    display: none;
  }
  .hero-btn-3{
    margin-top: 10px;
  }
  .hero-btn-3 a{
    color: #fff;
    font-size: 26px;
    margin: 10px;
  }
  @media(max-width: 1062px){
    nav{
      color: #fff;
      font-size: 1.6rem;
      padding: 0.5rem 1rem;
      display: flex;
      align-items: center;   
    }
    .hamburger{
      display: block;
      transform: translateY(3px);
      margin-right: 3rem;
        font-size: 2.4rem;
      cursor: pointer;
    }
    .times{
      display: flex;
      margin: 1rem;
      cursor: pointer;
    }
    .backdrop2{
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.4);
      display: none;
      z-index: 2;
    }
    .backdrop2--active{
      display: block;
    }
    .sidebar2{
      position: fixed;
      background-image: linear-gradient(rgba(30, 141, 75, 0.4),rgba(55, 190, 274, 0.8)),url(/ImgGallery/NavBarImg.jpg);
      background-position: center;
      top: 0;
      right: 0;
      width: 70%;
      max-width: 18rem;
      height: 100%;
      transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      box-shadow: 0 0 4px rgba(0,0,0.2);
      background-color: #245854; 
      /* transfrom from right */
      transform: translateX(100%);
      z-index: 3;
      
    }
    .sidebar2--active{
      /* transfrom from right */
      transform: translateX(0%);
    } 
    .sidebar_list{
      list-style: none;
    }
    .sidebar_item{
      padding: 1rem 1.5rem;
      font-size: 1rem;
      display: block;
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
    }
    .sidebar_item a{
      color: #fff;
      text-decoration: none;
      display: flex;
      align-items: center;
      }
      .row {
        flex-direction: column;
      }
    }
  @media(max-width: 700px){
    .textbox h1{
      font-size: 50px;
    }
    .hero-btn {
      color: #fff;
      font-size: 16px;
      margin: 10px;
    }
    .header{
      min-height: 70vh;
    }
    .cta h1 {
      font-size: 24px; 
    }
    .textbox{
      margin-top: 150px;
      position: relative;
    }
    nav img{
      width: 160px;
      padding-top: 15px;
    }
    .hero-btn-3 img{
        width: 200px;
    }
  }

  @media(max-width: 380px){
    .textbox h1{
      font-size: 45px;
    }
    .nav-links ul li{
      display: block;
      margin-top: 20px;
    }
    .nav-links{
      position: fixed;
      height: 100vh;
      width: 250px; 
    }
    .hamburger{
        margin-right: 1.5rem;
        font-size: 1.7rem;
    }
    
  }
  h1{
    font-size: 36px;
    font-weight: 600;
    color: #fff;
  }
  .paths2 h1{
      position: relative;
      font-size: clamp(1.3rem, 0.34545462rem + 4.363636vw, 2.8rem);
      z-index: 0;
      max-width: 370px;
      margin: auto;
  }
  .paths2 h1::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(26,136,149,1) 0%, rgb(15, 137, 161) 0%, rgba(20,154,174,1) 57%);
    z-index: -1;
    transform: translateY(120%) scale(1.05);
    height: 50%;
    width: 100%;
    filter: blur(1px);
  }
  
.bio2 h1{
    position: relative;
    font-size: clamp(1.3rem, 0.34545462rem + 4.363636vw, 2.8rem);
    z-index: 0;
    max-width: 570px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    
}
.bio2 h1::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(26,136,149,1) 0%, rgb(15, 137, 161) 0%, rgba(20,154,174,1) 57%);
  z-index: -1;
  transform: translateY(120%) scale(1.05);
  height: 50%;
  width: 100%;
  filter: blur(1px);
  
}

  .bio {
    margin: auto;
    text-align: center;
    padding-top: 40px;
    background-color: #006e70;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%230d181d' fill-opacity='0.59' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
    /* background by https://www.heropatterns.com/ */
    margin: 20px 20px 20px 20px;
    border-radius: 10px;
  }
  
  .bio2{
    width: 100%;
    margin: auto;
    text-align: center;
    max-width: 1000px;
  }
  p{
    color: #fff; 
    font-size: 18px;
    margin-top: 20px;
    font-weight: 300;
    line-height: 22px;
    padding-right: 10px; 
  }
  .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
  }
  .row2{
    margin-top: 5%;
    padding: 25px 25px 25px 25px;
  }
  .bio-col{
    flex-basis: 31%; 
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 5px 15px 10px 15px;
    box-sizing: border-box;
    transform: 1s;
  }
  h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
  }
  .row2 p{
    color: rgba(2,0,36,1);
    font-size: 18px;
    margin-top: 2px;
    font-weight: 300;
    line-height: 22px;
    padding:  30px 50px 10px 50px; 
  }
  
  .bio-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
  }
 
  .paths2{
    margin: 20px;
    background-position: stretch;
    border-radius: 10px;
    background-color: #113333;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23113333'/%3E%3Cstop offset='1' stop-color='%234fd'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23113333' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23113333' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23113333' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23113333' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: absolute;
    background-size: cover;
   }
  .paths{
    width: 93%;
    margin: auto;
    text-align: center; 
    padding-top: 50px; 
  }
  .paths-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 50px;
    position: relative; 
    overflow: hidden;
  }
  .paths-col img{
    width: 100%;
    height: 100%;
    display: block;
  }
  .layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .layer:hover{
    background: rgba(29, 165, 199, 0.7);
  }

  .layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 36px;
    bottom: 0; 
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 59%;
    transition: .5s;
    }
  .layer:hover h3{
     opacity: 1;
  }
  @media (max-width: 700px){
      .bio{
        margin: 0;
        border-radius: 0px;
      }
      .paths2{
        margin:0;
        border-radius: 0px;
      }
      .layer h3{
        font-size: 44px;
      }
  }



.cta{
  margin: 50px auto; 
  width: 80%;
  background-image: linear-gradient(rgba(16, 76, 80, 0.7), rgba(17, 41, 39, 0.5)),url(ImgGallery/footer1.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}
.cta h1{
  color: #fff;
  margin-bottom: 10px;
  padding: 0; 
}
@media (max-width: 750px){
  .cta img{
    width: 300px;
  }
}
@media (max-width: 400px){
  .cta img{
    width: 290px;
  }
}

.footer{
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #154b49;
}

.footer p{
  padding-top: 2px;
  padding-bottom: 25px;
  color: #fff;
  font-size: 18px;
  margin: 0;
}

.icons .fa{
  color: #2d8a8a;
  margin: 1px 13px;
  cursor: pointer;
  padding: 20px 0;
}

@media(max-width: 700px){
  .paths2 h1 {
    max-width: 280px;
    font-size: 36px;
    margin-top: -3px;
  }
  .paths2 p {
    font-size: 18px;
  }
  .bio2 h1 {
    max-width: 300px;
    font-size: 24px;
    margin-bottom: -11px;
  }
  .row2 p{
    padding:  30px 7px 10px 7px; 
  }
  .footer p{
    color: #fff;
    font-size: 16px;
    margin: 0;
  }
}
/* Gallery !*/
.headline img{
  width: 30%;
  max-width: 300px;
}
.gallery{
  background: linear-gradient(153deg, rgba(62, 152, 254, 0.59) 0%,
    rgba(25, 255, 16 , 0.12) 100%);
    min-height: 100vh;
}
.grid-container {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-gap: 1rem;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    place-items: center;
    width: 100%;
}
.grid-container img{
    width: 600px;
}
.container-items p{
  font-size: 20px;
  color: #556A75;
  text-align: center;
  
}
.year p{
  font-size: 12px;
  color: #6E8A99;
  text-align: center;
  padding-top: 5px 0;
  margin: 7px;
}
.lightbox-enabled {
    width: 100%;
    object-fit: cover;
    transition: all 250ms ease-in-out;
}
.lightbox-enabled:hover {
    opacity: .8;
    cursor: pointer;
    transform: scale(1.01);
}
.headline{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
}

@media(max-width: 580px){
  .gallery{
    justify-content: center;
    align-content: center;
  place-items: right;
  align-items: right;
  }
  .container-items p{
    font-size: 16px;
  }
  .year p{
    font-size: 12px;
    color: #fff;
    text-align: center;
    padding-top: 5px 0;
    margin: 2px;
  }
  .grid-container img{
    width: 300px;
  }
}

/*--- Subheader!! ---*/
.sub-header{
  height: 45vh;
  min-height: 220px;
  max-height: 220px;
  width: 100%;
  background-image: linear-gradient(rgba(36, 130, 156, 0.8),rgba(50, 199, 142, 0.4)),url(/ImgGallery/HeaderSub3.jpg);
  background-position: 45% 20%;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.sub-header h1{
  position: absolute;
  margin-top: 30px;
  font-size: 82px;
  color: #fff;
}
/*--- !Consultations! ---*/
.slideshow{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.slideshow-item{
  width: 100%;
  height: 100vh;
  position: absolute;
}
.slideshow-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slideshow-item-text {
  max-width: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%); 
  background-color: rgba(36, 130, 156, 0.5);
  color: #fff;
  padding: 10rem 5rem;
}
.slideshow-item-text h5{
  font-size: 4.5rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.slideshow-item-text p{
  font-size: 1 rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
}
@media(max-width: 1000px){
  .slideshow-item-text {
    max-width: 70%;
    padding: 5rem 1rem; 
  }
  .slideshow-item-text h5{
    font-size: 4rem;
  }
}
@media(max-width: 767px){
  .slideshow-item-text {
    max-width: 100%;
    padding: 2rem; 
    top: initial;
    bottom: 0;
    transform: initial;
  }
  .slideshow-item-text h5{
    font-size: 3rem;
  }
  .slideshow-item-text p{
    font-size: 1.4rem;
  }
}
/*--- textbox! ---*/
.section-txt{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fddcc356;
}
.container-txt{
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; 
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-txt {
  width: 60%;
  height: 600px;
  background-image: url(/ImgGallery/GalleryBanner2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
}
.right-txt {
  width: 50%;
  min-height: 400px;
  background-color: #2f3d3c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  color: #fff; 
  margin-left: -150px;
}
.right-txt h5{
  font-size: 40px;
  font-weight: lighter;
}
.right-txt p{
  margin: 20px 0;
  font-weight: 500;
  line-height: 25px;
}
.right-txt a{
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  color: black;
  padding: 20px 30px;
  display: inline-block;
  letter-spacing: 2px;

}
.content-txt p{
 color:rgba(0, 0, 0, 1)
}
@media(max-width: 768px){
  .container-txt{
    flex-direction: column;
    width: 100%;
    margin: 0 10px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .left-txt{
    width: 100%;
    height: 400px;
  }
  .right-txt{
    width: 80%;
    margin: 0;
    margin-top: -100px;
  }
}
/*--- textbox2! ---*/
.section-txt2{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fddcc356;
}
.container-txt2{
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; 
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-txt2 {
  width: 60%;
  height: 600px;
  background-image: url(/ImgGallery/GalleryBanner2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  
}
.right-txt2 {
  width: 50%;
  min-height: 400px;
  background-color: #2f3d3c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  color: #fff; 
  margin-right: -150px;
  z-index: 24;
}
.right-txt2 h5{
  font-size: 40px;
  font-weight: lighter;
}
.right-txt2 p{
  margin: 20px 0;
  font-weight: 500;
  line-height: 25px;
}
.right-txt2 a{
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  color: black;
  padding: 20px 30px;
  display: inline-block;
  letter-spacing: 2px;

}
.content-txt2 p{
 color:rgba(0, 0, 0, 1)
}
@media(max-width: 768px){
  .container-txt2{
    flex-direction: column;
    width: 100%;
    margin: 0 10px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .left-txt2{
    width: 100%;
    height: 400px;
    margin-top: -700px;
  }
  .right-txt2{
    width: 80%;
    margin: 0;
    
  }
}
.contact{
  width: 100%;
  height: 40vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact img{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width:500px){
  .contact img{
    width: 370px;
  }
}


/*--- Blogggggg! ---*/

:root{
  --orange:#e67e22;
  --black:#333;
  --light-color:#777;
  --border:.1rem solid rgba(0,0,0,.2);
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}







.banner{
  min-height: 80vh;
  background:url(../images/banner.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  place-items: center;
  padding-top: 8rem;
}

.banner .content{
  text-align: center;
  background:#fff;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  padding:3rem;
  max-width: 50rem;
}

.banner .content h3{
  font-size: 4rem;
  color:var(--black);
  text-transform: uppercase;
}

.banner .content p{
  font-size: 1.7rem;
  color:var(--light-color);
  padding:1rem 0;
  line-height: 1.5;
}

.container{
  
  padding:2rem 7%;
  display: grid;
  grid-template-columns: 1fr;
  gap:1.5rem;
  background:#eee;
}

.container .posts-container .post{
  width:100%;
  padding:2rem;
  background:#fff;
  border:var(--border);
  border-radius: .5rem;
  margin-bottom: 1.5rem;
}
.container .posts-container .post .imagebox{
  display: block;
  /* center the image */
  text-align: center;
}


.container .posts-container .post .image{
  height: 30rem;
  width: 100%;
  max-width: 700px;
  border-radius: .5rem;
  object-fit: cover;
}

.container .posts-container .post .date{
  padding-top: 2rem;
  font-size: 0.9rem;
  color:var(--orange);
}

.container .posts-container .post .title{
  padding-top: 1.5rem;
  font-size: 2.5rem;
  color:var(--black);
}

.container .posts-container .post .text{
  color:var(--light-color);
  font-size: 1.0rem;
  line-height: 1.7;
  padding:1rem 0;
}




/* media queries  */

@media (max-width:991px){
  .container{
    padding:2rem;  
  }
}

@media (max-width:768px){
  .banner .content h3{
    font-size: 2rem;
  }
  .container .posts-container .post .title{
    padding-top: 1.5rem;
    font-size: 1.5rem;
    color:var(--black);
  }

  .banner .content p{
    font-size: 1.2rem;
  }

  .container{
      grid-template-columns: 1fr;
      gap:0;
  }

  .container .posts-container .post .image{
    height: 12rem;
  }
}


.box{
  width: 850px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  text-align: justify;
}
.box li a:hover{
  color: #b9b9b9;
}
@media (max-width:700px){
  .box{
    width: 450px;
    }
  }

@media (max-width:400px){
  .box{
    width: 350px;
    }
  }